{% extends '@Freelancer/Default/layout.html.twig' %}

{%  block content %}
<div class="col-md-offset-1 col-md-10">

    <div>
        <b> Create Reclamation </b>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            <b>  {{ flash_message }}</b>
        </div>
        </div>
    {% endfor %}
{%  endblock %}