{% extends '@Freelancer/Default/training.html.twig' %}

{% block table %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Building Management</th>
        </tr>
        </thead>
        <tbody>
        {% for mysubscriber in mysubscribers %}
            <tr>
                <td>{{ mysubscriber.trainingTitle }}</td>
                <td>{{ mysubscriber.firstName }}</td>
                <td>{{ mysubscriber.lastName}}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
